/* colors {
    mirage: #19212F;
    gothic: #7397A5;
    slate-gray: #647B88;
    smalt-blue: #597C94;
} */

@font-face {
  font-family: PopLight;
  src: url("../../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PopMedium;
  src: url("../../assets/fonts/Poppins-Medium.ttf");
}

body {
  font-family: PopLight;
  scroll-behavior: smooth;
  padding-bottom: 0px;
  margin: 30px 10px 0px 10px;
  /* background-color: #ebf3f3; */
}

.page {
  display: block;
  margin: 0px 0px;
  /* grid-template-columns: 15vw auto; */
}
.left {
  border-right: 1px solid #bbb;
  min-height: 80vh;
}
#slides {
  height: 80vh;
  padding: 10px 100px;
  overflow: auto;
  margin-top: 20px;
  scroll-snap-type: mandatory;
  box-shadow: 0px -5px 10px #ddd;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}

#slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#slides::-webkit-scrollbar-thumb {
  background: #647b88;
  border-radius: 10px;
}

#slides::-webkit-scrollbar-track {
  background: transparent;
}

.right {
  border-left: 1px solid #ddd;
  min-height: 80vh;
}

.case-tabs {
  background: linear-gradient(to right, #19212f, #597c94, #19212f);
  padding: 10px;
  border-radius: 10px;
}

.case-tabs-buttons {
  display: flex;
  justify-content: space-evenly;
  font-family: PopMedium;
}

.tabs-item {
  margin: 10px 0px;
  padding: 5px 20px;
  text-align: center;
  color: #19212f;
  background-color: #19212f;
  min-width: 100px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

button {
  padding: 0.3em 1.2em;
  min-width: 100px;
  z-index: 5;
  margin: 0 0.3em 0 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: PopRegular;
  font-weight: 300;
  color: #080f19;
  background-color: #fff;
  text-align: center;
  transition: all 0.2s;
}
button:hover,
.active {
  background-color: #080f19;
  color: #fff;
}

@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.2em auto;
  }
}

.about {
  margin: 0px 100px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.about-property {
  text-align: right;
  margin: 10px 50px;
  padding: 5px 0px;
}
/* 
#copiedMsg {
  position: fixed;
  bottom: 20px;
  float: right;
  right: 20px;
  background-color: #080f19;
  border-radius: 20px;
  color: white;
  animation: fadeInAndOut ease;
} */

#shareBar {
  border-radius: 2em;
  background-color: #bbb;
  display: flex;
  font-size: small;
  margin-left: 90px;
  transition-timing-function: ease-in;
  opacity: 0;
  transition: 1s;
  transform: translateX(50%);
  animation: fadeOut ease 0.2s;
  -webkit-animation: fadeOut ease 0.2s;
  -moz-animation: fadeOut ease 0.2s;
  -o-animation: fadeOut ease 0.2s;
  -ms-animation: fadeOut ease 0.2s;
}

#shareBar-is-shown {
  border-radius: 2em;
  background-color: #bbb;
  display: flex;
  font-size: small;
  margin-left: 90px;
  transition-timing-function: ease-out;
  transition: 0.2s;
  transform: translateX(0);
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.shareBar-item {
  margin: 5px;
  padding: 2px;
  color: white;
  text-align: center;
  background-color: teal;
  border-radius: 2em;
  min-width: 100px;
  transition: all 0.2s;
  font-weight: 600;
}
.shareBar-item:hover {
  background-color: turquoise;
  color: #080f19;
}

.case-title {
  text-align: center;
  font-size: xx-large;
  font-family: PopRegular;
  margin: 0;
}
