<!-- <body ng-init="rows">
  <div class="search-bar">
    <input
      type="text"
      onkeyup="search()"
      id="myInput"
      placeholder="Search Text"
    />
  </div>
  <br />
  <br />

  <ul class="search-repeater" *ngFor="let data of rows">
    <li>
      <h3 id="search-title" name="title">{{ data.idx }}</h3>
    </li>
    <li>
      <h3 id="search-category" name="category">{{ data.name }}</h3>
    </li>
    <li>
      <h4 id="search-desc" name="desc">{{ data.gender }}</h4>
    </li>
    <li>
      <ul class="search-bottom">
        <li>
          <h4 class="bottom-option" name="age">{{ data.age }}</h4>
        </li>
        <li>
          <h4 class="bottom-option" name="country">
            {{ data.country }}
          </h4>
        </li>
      </ul>
    </li>
  </ul>
</body> -->
