<body (click)="onClick($event)">
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" (scroll)="onWindowScroll()">
    <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center">
        <img src="../assets/img/logo.svg" alt="" />
        <div class="logo-grid" style="display: inline; height: 100%; margin: 0">
          <span
            class="First"
            style="
              font-size: large;
              font-family: 'Caudex', serif;
              font-weight: 700;
            "
            >FIRST</span
          >
          <span
            class="Case"
            style="
              font-size: large;
              font-family: 'Caudex', serif;
              font-weight: 400;
            "
            >CASE</span
          >
        </div>
      </a>

      <nav id="navbar" class="navbar">
        <div class="mobile-nav-toggle bi bi-list" id="mobile_nav">
          <!-- <img
            src="../assets/img/hamburger.png"
            alt=""
            width="30px"
            
          /> -->
        </div>
        <ul>
          <li>
            <a
              id="home-top"
              class="nav-link scrollto"
              (click)="setActive($event)"
              >Home</a
            >
          </li>

          <!-- <li class="dropdown">
            <a href="#"
              ><span>Services</span> <i class="bi bi-chevron-down"></i
            ></a>
            <ul>
              <li><a href="/cases">Intelligent Legal Search Assistant</a></li>
              <li class="dropdown">
                <a href="#"
                  ><span>Data Management System</span>
                  <i class="bi bi-chevron-right"></i
                ></a>
                <ul>
                  <li><a href="#">Coming Soon</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li>
            <a
              id="ilsa-top"
              (click)="setActive($event)"
              class="nav-link scrollto"
              >ILSA<sup> NEW</sup>
            </a>
          </li>
          <li>
            <a
              id="about-us-top"
              (click)="setActive($event)"
              class="nav-link scrollto"
              >About Us</a
            >
          </li>

          <!-- <li>
            <a (click)="setActive($event)" class="nav-link scrollto">Blog</a>
          </li> -->

          <li>
            <a
              id="work-with-us-top"
              (click)="setActive($event)"
              class="nav-link scrollto"
              >Work With Us</a
            >
          </li>
          <li>
            <a class="getstarted scrollto nav-link" href="/cases"
              >Search Cases</a
            >
          </li>
        </ul>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->

  <!-- Mobile Nav -->
  <div
    style="position: fixed; width: 100%; height: 100%; z-index: 999"
    *ngIf="view_focussed && router.url !== '/dms'"
  >
    <div
      style="width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.4)"
    >
      <div
        style="
          position: absolute;
          right: 0;
          width: 350px;
          height: 100vh;
          padding: 10% 10px;
          background-color: #f2f2f2;
        "
      >
        <div>
          <img
            src="../assets/img/x-cross-dark.svg"
            alt=""
            width="30px"
            id="mobile_nav"
            style="position: absolute; right: 15px; top: 25px"
          />
        </div>
        <ul style="list-style-type: none">
          <li>
            <a id="home-top" class="scrollto active" href="#hero">Home</a>
          </li>
          <br />
          <li class="dropdown">
            <a href="#"
              ><span>Services </span> <i class="bi bi-chevron-down"></i
            ></a>
            <ul
              style="
                list-style-type: none;
                background-color: #f2f2f2 !important;
              "
            >
              <li><a href="/cases">Intelligent Legal Search Assistant</a></li>
              <li class="dropdown">
                <a href="#"
                  ><span>Data Management System </span>
                  <i class="bi bi-chevron-down"></i
                ></a>
                <ul
                  style="
                    list-style-type: none;
                    background-color: #f2f2f2 !important;
                  "
                >
                  <li><a href="#">Coming Soon</a></li>
                  <!-- <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li> -->
                </ul>
              </li>
              <br />
              <!-- <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
            </ul>
          </li>
          <br />
          <li>
            <a id="about-top" class="scrollto" href="/about-us">About Us</a>
          </li>
          <!-- <br />
          <li><a href="/blog">Blog</a></li> -->
          <br />
          <li>
            <a class="scrollto" href="/about-us#contact">Work With Us</a>
          </li>
          <br />
          <li>
            <a class="getstarted scrollto" href="/cases">Search Cases</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" *ngIf="router.url !== '/dms'">
    <div class="footer-newsletter">
      <div class="container">
        <!-- <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>We will keep you updated!</h4>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" />
              <input type="submit" value="Subscribe" />
            </form>
          </div>
        </div> -->
        <br />

        <div class="footer-top">
          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-5 col-md-12 footer-info">
                <a href="" class="logo d-flex align-items-center">
                  <img src="../assets/img/logo.svg" alt="" />
                  <span style="font-size: medium">FIRSTCASE</span>
                </a>
                <p style="text-align: justify">
                  Disclaimer: The content of this website are for informational
                  purposes only and for the reader’s personal non-commercial
                  use. The views expressed are not the personal view of
                  FirstCase and do not constitute legal advice. The contents are
                  intended, but not guaranteed, to be correct, complete, or up
                  to date. FirstCase disclaims all liability to any person for
                  any loss or damage caused by errors or omissions, whether
                  arising from negligence, accident or any other cause.
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"
                    ><i class="bi bi-facebook"></i
                  ></a>
                  <a href="#" class="instagram"
                    ><i class="bi bi-instagram bx bxl-instagram"></i
                  ></a>
                  <a
                    href="https://www.linkedin.com/company/firstcaselaw"
                    class="linkedin"
                    ><i class="bi bi-linkedin bx bxl-linkedin"></i
                  ></a>
                </div>
              </div>

              <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="#hero">Home</a>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="/about-us">About us</a>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="#features">Services</a>
                  </li>
                  <!-- <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="/blog">Blog</a>
                  </li> -->
                  <!-- <li>
                                        <i class="bi bi-chevron-right"></i>
                                        <a href="#">Terms of service</a>
                                    </li> -->
                  <!-- <li>
                                        <i class="bi bi-chevron-right"></i>
                                        <a href="#">Privacy policy</a>
                                    </li> -->
                </ul>
              </div>

              <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="/cases">Search Cases</a>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="/#">Storage Solutions</a>
                  </li>
                  <!-- <li>
                                        <i class="bi bi-chevron-right"></i>
                                        <a href="#"></a>
                                    </li> -->
                </ul>
              </div>

              <div
                class="
                  col-lg-3 col-md-12
                  footer-contact
                  text-center text-md-start
                "
              >
                <h4>Contact Us</h4>
                <p>
                  <!-- A108 Adam Street <br /> New York, NY 535022<br /> United States <br /><br /> -->
                  <strong>LinkedIn:</strong>
                  <a href="https://www.linkedin.com/company/firstcaselaw">
                    FirstCase</a
                  ><br />
                  <strong>Email:</strong> contact@firstcase.io<br />
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>FirstCase</span></strong
            >. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->
</body>
