<section
  class="probootstrap-cover overflow-hidden relative"
  style="background: url('../../assets/img/hero-bg.png') no-repeat top fixed"
  data-stellar-background-ratio="0.5"
  id="section-home"
>
  <div class="overlay"></div>
  <div style="display: flex; justify-content: center">
    <div
      style="
        text-align: center;
        box-shadow: 5px 5px 15px #ddd;
        border-radius: 30px;
        background-color: white;
      "
    >
      <img src="../../assets/img/error/final.png" alt="" />
      <p>We ran out of money :(</p>
    </div>
  </div>
</section>
