@font-face {
  font-family: PopLight;
  src: url("../../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PopMedium;
  src: url("../../assets/fonts/Poppins-Medium.ttf");
}

.search-input {
  width: 80% !important;
}

@media (max-width: 1200px) {
  .search-input {
    width: 76% !important;
  }
}

@media (max-width: 991px) {
  .search-input {
    width: 70% !important;
  }
}

@media (max-width: 767px) {
  .search-input {
    width: 60% !important;
  }
}

.probootstrap-cover .overlay {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.5); */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.probootstrap-cover > .container > .row {
  padding: 3em 0 7em 0;
}

@media (max-width: 565px) {
  .probootstrap-cover > .container > .row {
    padding: 1em 0 7em 0;
  }
}

.font-light {
  font-weight: 300;
}

.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1100px) {
  .probootstrap-animate {
    margin: 0;
  }
}

.probootstrap-form {
  padding: 20px 40px;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  /* border: 1px dashed black; */
}

@media (max-width: 991px) {
  .probootstrap-form {
    padding: 15px;
  }
}

.probootstrap-form image {
  font-weight: normal;
}

.probootstrap-form .form-control {
  height: 46px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

.probootstrap-form .form-control:active,
.probootstrap-form .form-control:focus,
.probootstrap-form .form-control:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #012970;
}

.probootstrap-form .form-group:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.probootstrap-form .form-group label {
  text-transform: uppercase;
  font-size: 13px;
}

.probootstrap-form .form-group .form-field {
  position: relative;
}

.probootstrap-form .form-group .form-field .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
}

.probootstrap-form .form-group .form-field .form-control {
  padding-right: 50px;
}

.probootstrap-form textarea.form-control {
  height: inherit;
  resize: vertical;
}

.probootstrap_select-wrap {
  position: relative;
}

.probootstrap_select-wrap:before {
  font-family: "Ionicons";
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f3d0";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.probootstrap-date-wrap {
  position: relative;
}

.probootstrap-date-wrap .icon {
  position: absolute;
  top: 50%;
  color: #ccc;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
}

input,
textarea,
p {
  font-weight: 300;
}

::-moz-selection {
  background: #000;
  color: #000;
}

::selection {
  background: #000;
  color: #000;
}

::-moz-selection {
  background: #000;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300 !important;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.search-filter-btn-mobile {
  visibility: hidden;
  position: absolute;
  right: 5%;
  z-index: 10;
  top: 45px;
}

.search-icon-btn-mobile {
  visibility: hidden;
  position: absolute;
  right: 13%;
  z-index: 10;
  top: 45px;
}

.search-filter-btn {
  visibility: visible;
  position: absolute;
  right: 10px;
  z-index: 10;
  top: 37px;
}

.search-icon-btn {
  visibility: visible;
  position: absolute;
  right: 105px;
  z-index: 10;
  top: 37px;
}

@media (max-width: 565px) {
  .search-filter-btn-mobile {
    visibility: visible;
  }
  .search-icon-btn-mobile {
    visibility: visible;
  }
  .search-filter-btn {
    visibility: hidden;
  }
  .search-icon-btn {
    visibility: hidden;
  }
  .form-control {
    width: 80% !important;
  }
}

.tags-list-item {
  display: inline-block;
  padding: 0.3em 1.2em;
  min-width: 100px;
  z-index: 5;
  align-items: center;
  margin: 0.3em;
  border-radius: 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: PopRegular;
  font-weight: 300;
  color: #fff;
  background-color: #19212f;
  text-align: center;
  transition: all 0.2s;
}

.search-repeater {
  list-style-type: none;
  margin-top: 10px;
  box-shadow: 0px 5px 15px #ddd;
  padding: 20px;
}

.search-repeater .top-bar {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
}

.occurences {
  font-size: small;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #b6d7a8ff;
}

#search-title {
  color: rgba(0, 0, 255, 0.808);
  text-underline-offset: 3px;
  width: 1300px !important;
}

#search-category {
  color: rgba(0, 128, 0, 0.664);
}

#search-desc {
  color: rgba(0, 0, 0, 0.705);
  font-weight: 100;
  margin: 0 !important;
  padding: 0;
}

.pagination-elem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyword-list-item {
  margin: 3px 10px 3px 0;
  padding: 1px 10px;
  text-align: center;
  font-size: small;
  font-family: PopRegular;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.case-id-keyword {
  /* background-color: #d5a6bdff; */
  /* background-color: #c1bb9e; */
  background-color: #e0bed0;
}

.source-keyword {
  background-color: #a4c2f4ff;
}

.date-keyword {
  background-color: #a4c2f4ff;
}

.bench-keyword,
.judgeName {
  background-color: #ffe599ff;
}

.query-term-keyword {
  background-color: rgba(0, 0, 0, 0.25);
  font-size: small !important;
}

.judgement-keyword {
  background-color: #f9cb9cff;
}

.petitionerName {
  background-color: #9fc5e8ff !important;
}

.petitionerCounsel {
  background-color: #a2c4c9ff !important;
}

.respondentName {
  background-color: #d5a6bdff !important;
}

.respondentCounsel {
  background-color: #b4a7d6ff !important;
}

.tab {
  border: none;
  font-size: small;
  border-radius: 0;
  outline: none;
  text-align: center;
  min-width: 200px;
  padding: 10px 16px;
  background-color: #fff;
  cursor: pointer;
}

.active,
.tab:hover {
  background-color: #012970;
  z-index: 1;
  color: white;
}

.tables-grid-container {
  display: grid;
  table-layout: auto;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

.tables-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

#values {
  font-weight: bolder;
  text-align: center;
}

/* #table-cited-cases div:nth-child(even)  */

#table-cited-cases div {
  background-color: #f2f2f2;
}

#table-cited-cases tr:hover {
  background-color: #ddd;
}

#table-cited-provisions td,
#table-cited-provisions th {
  border: 1px solid#ddd;
  padding: 0px;
  text-align: center;
  /* word-wrap: break-word; */
}

#table-cited-provisions tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-cited-provisions tr:hover {
  background-color: #ddd;
}

#table-cited-provisions th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #337ac0;
  color: white;
  font-size: medium;
}

button {
  background: #012970;
  border: none;
  padding: 5px 20px;
  font-size: small;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.graphs-container {
  display: block;
  padding: 20px 0;
}

.graphs-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.title-h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-family: PopMedium;
  text-align: center;
  font-weight: 700;
  margin: 0;
  color: #012970;
  text-transform: uppercase;
}

.swiper-slide {
  padding: 5%;
}

.search-row-4 {
  display: flex;
  justify-content: space-between;
}

.search-col-2 {
  margin: 0 20px;
}

.search-col-3 {
  width: 60%;
}

@media (max-width: 767px) {
  .search-row-4 {
    display: block;
    justify-content: left;
  }

  .search-row-4 .search-col-2 {
    margin: 0;
  }

  .search-col-3 {
    width: 100%;
  }
}

.search-chip {
  border-radius: 10px;
  padding: 5px 30px 5px 10px !important;
}

.search-chip mat-icon {
  position: absolute;
  top: -1px;
  right: 2px;
}

.tag-chip {
  border-radius: 10px;
  padding: 0 15px !important;
  min-height: 20px !important;
  height: 25px !important;
  font-size: small;
  background-color: #a4c2f4ff;
}

.most-cited-case {
  border-radius: 50px;
  padding: 5px 20px;
  margin: 10px 0;
  text-align: center;
  font-size: small;
}

.ilo-view {
  display: grid;
  grid-template-columns: 50% 50%;
}

.ilo-view-item {
  padding: 20px;
}

@media (max-width: 991px) {
  .ilo-view {
    display: block;
    grid-template-columns: none;
  }
  .ilo-view-item {
    padding: 20px 0;
  }
}

div.loading_animation {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

/* ======================================================================================== */

.probootstrap-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 7em 0;
}

/* 

.btn {
  padding: 15px 25px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 400;
}
.btn.btn-primary {
  color: #fff;
}
.btn:hover,
.btn:active,
.btn:focus {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.bg_image,
.probootstrap-section-half .probootstrap-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.with-overlay {
  position: relative;
}
.with-overlay:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.navbar-toggler span i {
  font-size: 30px;
}

.probootstrap_navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
@media (max-width: 991px) {
  .probootstrap_navbar {
    background: rgba(0, 0, 0, 0.6);
  }
}
.probootstrap_navbar .nav-item .nav-link {
  padding: 1.6em 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
}
@media (max-width: 991px) {
  .probootstrap_navbar .nav-item .nav-link {
    padding: 0.5em 0;
  }
}
.probootstrap_navbar .nav-item .nav-link.active {
  color: #fff;
}
.probootstrap_navbar.scrolled {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
}
.probootstrap_navbar.scrolled .nav-item .nav-link {
  padding: 0.5em 1em;
}
.probootstrap_navbar.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.probootstrap_navbar.scrolled.sleep {
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.border-bottom {
  display: block;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.border-bottom:after {
  width: 50px;
  height: 2px;
  background: #012970;
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#section-feature-testimonial blockquote p {
  color: #000;
}

#section-feature-testimonial .probootstrap-author img {
  width: 70px;
  margin-bottom: 10px;
}

#section-feature-testimonial .probootstrap-author a {
  display: block;
}
#section-feature-testimonial .probootstrap-author a span {
  display: block;
}
#section-feature-testimonial .probootstrap-author a .probootstrap-name {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
  font-weight: 700;
}
#section-feature-testimonial .probootstrap-author a .probootstrap-title {
  color: #b3b3b3;
}

#section-city-guides {
  border-top: 1px solid #e6e6e6;
}

.probootstrap-thumbnail {
  position: relative;
  display: block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 1;
}
.probootstrap-thumbnail.sleep {
  opacity: 0.5;
}
.probootstrap-thumbnail img {
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: block;
  bottom: 0;
  z-index: 2;
}
.probootstrap-thumbnail h3 {
  z-index: 1;
  display: block;
  text-align: center;
  position: relative;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  opacity: 0;
  visibility: hidden;
  bottom: 30px;
}
@media (max-width: 991px) {
  .probootstrap-thumbnail h3 {
    font-size: 24px;
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .probootstrap-thumbnail h3 {
    opacity: 1;
    visibility: visible;
    bottom: 0;
    margin-top: 10px;
  }
}
.probootstrap-thumbnail:hover h3 {
  opacity: 1;
  visibility: visible;
  bottom: -20px;
}
@media (max-width: 991px) {
  .probootstrap-thumbnail:hover h3 {
    bottom: 0px;
  }
}
.probootstrap-thumbnail:hover img {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  bottom: 20px;
  -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .probootstrap-thumbnail:hover img {
    bottom: 20px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 767px) {
  .probootstrap-thumbnail:hover img {
    bottom: 0px;
    opacity: 1;
    visibility: visible;
  }
}

.probootstrap-section-half {
  float: left;
  width: 100%;
}
.probootstrap-section-half .probootstrap-image,
.probootstrap-section-half .probootstrap-text {
  width: 50%;
}
@media (max-width: 991px) {
  .probootstrap-section-half .probootstrap-image,
  .probootstrap-section-half .probootstrap-text {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .probootstrap-section-half .probootstrap-image {
    height: 400px;
  }
}
.probootstrap-section-half .probootstrap-text {
  background: #ececec;
}
.probootstrap-section-half .probootstrap-text .probootstrap-inner {
  padding: 7em;
}
@media (max-width: 991px) {
  .probootstrap-section-half .probootstrap-text .probootstrap-inner {
    padding: 3em;
  }
}
@media (max-width: 991px) {
  .probootstrap-section-half .probootstrap-text .probootstrap-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.probootstrap_section {
  padding: 7em 0;
  float: left;
  width: 100%;
}
.probootstrap_section.bg-light {
  background: #ececec !important;
}

.probootstrap_feature-v1 {
  padding: 3em;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  top: 0;
  border-radius: 4px;
}
.probootstrap_feature-v1:hover,
.probootstrap_feature-v1:focus {
  top: -10px;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}
@media (max-width: 991px) {
  .probootstrap_feature-v1:hover,
  .probootstrap_feature-v1:focus {
    top: 0;
  }
}

.probootstrap-border-top {
  border-top: 1px solid #ececec;
}

@media (max-width: 991px) {
  .probootstrap-section-heading {
    font-size: 28px !important;
  }
}

.probootstrap-media {
  background: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}
@media (max-width: 991px) {
  .probootstrap-media {
    display: block !important;
  }
}
.probootstrap-media .probootstrap-media-image {
  background-size: cover;
  width: 50%;
}
@media (max-width: 991px) {
  .probootstrap-media .probootstrap-media-image {
    width: 100%;
    height: 200px;
  }
}
.probootstrap-media .media-body {
  padding: 2em;
}

.probootstrap-contact-details {
  padding: 0;
  margin: 0;
}
.probootstrap-contact-details li {
  padding: 0;
  margin: 0 0 30px 0;
  line-height: 1.4;
  list-style: none;
}
.probootstrap-contact-details li > span {
  font-weight: 400 !important;
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.3);
}

.owl-carousel .owl-stage-outer {
  padding-bottom: 20px;
  padding-top: 20px;
}

.owl-carousel .owl-item {
  opacity: 0.4;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .probootstrap-slide {
  display: block;
  position: relative;
  padding: 7rem 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-align: center;
}
.owl-carousel .probootstrap-slide em {
  display: block;
  position: absolute;
  bottom: 10px;
  color: #999999;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-style: normal;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  font-size: 13px;
  line-height: 1.4;
}
.owl-carousel .probootstrap-slide span {
  color: #000;
  position: absolute;
  top: 50%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.owl-carousel .probootstrap-slide span:before {
  font-size: 100px;
}
.owl-carousel .probootstrap-slide:hover,
.owl-carousel .probootstrap-slide:focus {
  bottom: 10px;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.05);
}
.owl-carousel .probootstrap-slide:hover em,
.owl-carousel .probootstrap-slide:focus em {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}
.owl-carousel .probootstrap-slide:hover span,
.owl-carousel .probootstrap-slide:focus span {
  top: 40%;
  color: #012970;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
}
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}
.owl-carousel .owl-nav .owl-prev {
  left: 0 !important;
  border: 1px solid red;
}
.owl-carousel .owl-nav .owl-next {
  right: 0 !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #012970;
} */
