<div style="padding-top: 80px"></div>
<div class="content">
  <div style="display: grid; grid-template-columns: 250px auto">
    <div class="column">
      <!-- Upload Btn -->
      <button>
        <span class="material-icons md-24">add_circle_outline</span>
        <span>Upload</span>
      </button>
      <br />
      <!-- File Options -->
      <ul style="list-style-type: none">
        <li>
          <span class="material-icons md-24">folder</span>
          <span> My Folders </span>
        </li>
        <li>
          <span class="material-icons md-24">folder_shared</span>
          <span> Shared by me </span>
        </li>
        <li>
          <span class="material-icons md-24">outbox</span>
          <span> Shared with me </span>
        </li>
        <li>
          <span class="material-icons md-24">try</span>
          <span> Starred </span>
        </li>
        <li>
          <span class="material-icons md-24">delete</span>
          <span> Trash </span>
        </li>
      </ul>
    </div>

    <div class="column">
      <div class="top-bar">
        <div id="top-search">
          <div class="icon" (click)="spacy_search()">
            <span class="material-icons md-18">search</span>
          </div>
          <div>
            <input
              type="text"
              style="min-width: 675px; max-width: 700px"
              placeholder="Full Text Search"
              autocomplete="off"
              [(ngModel)]="spacy_query"
            />
            <div class="list-group filter-popover" *ngIf="showFilter">
              <div style="display: grid; grid-template-columns: 25% 75%">
                <div class="row mb-3 small-font">Type</div>
                <div>
                  <select
                    class="
                      js-example-basic-single js-states
                      form-control
                      row
                      mb-3
                    "
                    name="file_type"
                    id="file_type"
                    [(ngModel)]="filter_fileType"
                  >
                    <option
                      *ngFor="let item of filter_fileType_list"
                      [ngValue]="item"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
                <div class="row mb-3 small-font">Owner</div>
                <div>
                  <div>
                    <select
                      class="
                        js-example-basic-single js-states
                        form-control
                        row
                        mb-3
                      "
                      name="file_owner"
                      id="file_owner"
                      [(ngModel)]="filter_owner"
                    >
                      <option
                        *ngFor="let item of filter_owner_list"
                        [ngValue]="item"
                      >
                        {{ item.text }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <input
                      style="margin: 10px"
                      type="text"
                      class="form-control"
                      [(ngModel)]="filter_owner_person"
                      *ngIf="filter_owner.value == 'person'"
                      placeholder="Name"
                    />
                  </div>
                </div>
                <div class="row mb-3 small-font">Date Modified</div>
                <div>
                  <select
                    class="
                      js-example-basic-single js-states
                      form-control
                      row
                      mb-3
                    "
                    name="date_modified"
                    id="date_modified"
                    [(ngModel)]="filter_dateModified"
                  >
                    <option
                      *ngFor="let item of filter_dateModified_list"
                      [ngValue]="item"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
                <div class="row mb-3 small-font">Include words</div>
                <div>
                  <input
                    class="
                      js-example-basic-single js-states
                      form-control
                      row
                      mb-3
                    "
                    [(ngModel)]="filter_includeWords"
                    placeholder="Add words with ',' "
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="icon" (click)="show_filters()">
            <span class="material-icons md-18">expand_more</span>
          </div>
          <div>
            <button><span class="material-icons md-24">face</span></button>
          </div>
        </div>
      </div>
      <div class="top-bar">
        <div class="recent-item" *ngFor="let item of recents">
          <img src="{{ item.src }}" alt="" />
          <h3 style="text-align: center">{{ item.text }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
