<div class="content">
  <div class="column">
    <!-- FirstCase Logo -->
    <div style="cursor: pointer">
      <img id="sidebar-logo" src="../../../assets/img/logo-complete-dark.png" />
    </div>
    <!-- Upload Btn -->
    <button id="upload">
      <span class="material-icons md-24">add_circle_outline</span>
      <span>Upload</span>
    </button>
    <!-- File Options -->
    <ul style="list-style-type: none">
      <li>
        <span class="material-icons md-24">folder</span>
        <span> My Folders </span>
      </li>
      <li>
        <span class="material-icons md-24">folder_shared</span>
        <span> Shared by me </span>
      </li>
      <li>
        <span class="material-icons md-24">outbox</span>
        <span> Shared with me </span>
      </li>
      <li>
        <span class="material-icons md-24">try</span>
        <span> Starred </span>
      </li>
      <li>
        <span class="material-icons md-24">delete</span>
        <span> Trash </span>
      </li>
    </ul>
    <!-- Upcoming Events -->
    <!-- <div class="events">
      <h5 style="text-align: center">Upcoming Events</h5>
      <div class="col-md">
        <div class="row">Lorem, ipsum.</div>
        <div class="row">Lorem, ipsum.</div>
        <div class="row">Lorem, ipsum.</div>
        <div class="row">Lorem, ipsum.</div>
        <div class="row">Lorem, ipsum.</div>
      </div>
    </div> -->
  </div>
</div>
