<script src="node_modules/chart.js/src/chart.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@0.1.3/dist/chartjs-chart-matrix.js"></script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" /> -->
<!-- search part with filters and pagination -->

<body ng-init="rows">
    <div class="grid-container">
        <div class="grid-item" id="filter-button">
            <img *ngIf="view_filters" (click)="toggle_filters()" width="30px" src="../../assets/img/arrow-left-circle-fill.svg">
            <img *ngIf="!view_filters" (click)="toggle_filters()" width="40px" src="../../assets/img/filter-left.svg">
        </div>
    </div>

    <div class="search-bar">
        <div class="input-group">
            <input class="form-control" type="text" name="text-1542372332072" id="text-1542372332072" required="required" placeholder="Full Text Search" [(ngModel)]="query" />
            <label for="text-1542372332072">Type in your query</label>
            <!-- <div class="req-mark"></div> -->
        </div>
        <div class="searchbar-buttons">
            <div class="searchbar-buttons-item">
                <button (click)="first_search()">Search</button>
            </div>
            <div class="searchbar-buttons-item">
                <button (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
    <div class="page-columns">
        <div class="left" *ngIf="view_filters">
            <div>
                <button (click)="reset_filters()">Clear Filters</button>
            </div>
            <div class="filter-option">
                <p>Judgements</p>
                <form [formGroup]="myForm">
                    <ng-multiselect-dropdown [placeholder]="'Select one or more...'" [(ngModel)]="selectedJudgements" [settings]="dropdownSettings" [data]="judgement_options" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" [ngModelOptions]="{ standalone: true }">
                    </ng-multiselect-dropdown>
                </form>
            </div>
            <div class="filter-option">
                <span>Court</span>
                <span>
                    <select [(ngModel)]="courtlevel" (change)="selected()">
                        <option *ngFor="let item of courtdata" [ngValue]="item">
                            {{ item.name }}
                        </option>
                    </select>
                </span>
            </div>
            <div class="filter-option">
                <div class="input-group-2">
                    <input class="form-control" type="text" id="judgeInput" name="judgeName" required="required" placeholder="Judge" [(ngModel)]="bench" />
                    <label for="judgeName">Judge Name</label>
                    <div class="req-mark">!</div>
                </div>
            </div>
            <div class="filter-option">
                <div class="input-group-2">
                    <input type="text" id="petitionerInput" name="petitionerName" placeholder="Petitioner" [(ngModel)]="petitioner" />
                    <label for="petitionerName">Petitioner Name</label>
                    <div class="req-mark">!</div>
                </div>
            </div>
            <div class="filter-option">
                <div class="input-group-2">
                    <input type="text" id="pttcounselInput" name="petitionerCounsel" placeholder="Petitioner Counsel" [(ngModel)]="petitioner_counsel" />
                    <label for="petitionerCounsel">Petitioner Counsel</label>
                    <div class="req-mark">!</div>
                </div>
            </div>
            <div class="filter-option">
                <div class="input-group-2">
                    <input type="text" id="respondentInput" name="respondentName" placeholder="Respondent" [(ngModel)]="respondent" />
                    <label for="respondentName">Respondent Name</label>
                    <div class="req-mark">!</div>
                </div>
            </div>
            <div class="filter-option">
                <div class="input-group-2">
                    <input type="text" id="respcounselInput" name="respondentCounsel" placeholder="Respondent Counsel" [(ngModel)]="respondent_counsel" />
                    <label for="respondentCounsel">Respondent Counsel</label>
                    <div class="req-mark">!</div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="nav nav-tabs" *ngIf="searched">
                <div id="tabs">
                    <button class="tab active" id="search_tab" (click)="show_search()">
                        Search Results<span *ngIf="searched">: {{ results_count }}</span>
                    </button>
                    <button class="tab" id="analytics_tab" (click)="show_analytics()">
                        Analytics
                    </button>
                    <button class="tab" id="citation_tab" (click)="show_citations()">
                        Citation Results
                    </button>
                </div>
            </div>

            <div class="x">
                <div class="slides" *ngIf="searched">
                    <div id="slide-1" *ngIf="view_search">

                        <ul class="search-repeater" *ngFor="let data of rows">
                            <li>
                                <h2 id="search-desc " name="desc " style="margin-block-end: 0.4em">
                                    <a href="{{ data.url }}">{{ data.title }}</a>
                                </h2>
                            </li>
                            <li>
                                <h4 id="search-category " name="category " style="margin-block-start: 0.5em; margin-block-end: 0.5em">
                                    Source:
                                    <strong style="font-weight: 300"> {{ data.source }}</strong> | Date:
                                    <strong style="font-weight: 300">{{ data.date }}/{{ data.month }}/{{ data.year
                                        }}</strong>
                                </h4>
                            </li>

                            <li>
                                <h4 class="judgement" style="margin-block-start: 0.5em; margin-block-end: 0.5em">
                                    Judgement:
                                    <strong style="font-weight: 300">{{ data.judgement }}</strong> | Bench:
                                    <strong style="font-weight: 300">{{ data.bench }}</strong>
                                </h4>
                            </li>
                        </ul>

                        <br />
                        <br />
                        <br />
                        <div *ngIf="searched" class="pagination-bar">
                            <div style="min-width: 150px">
                                <div *ngIf="page > 1">
                                    <button class="pagination-button" id="pagination_pre" (click)="sendPreviousPage()">Previous</button>
                                </div>
                            </div>
                            <div style="min-width: 150px">
                                <span id="page-number">Page: {{ page }}</span>
                            </div>
                            <div style="min-width: 150px" *ngIf="page < results_count / limit">
                                <div>
                                    <button class="pagination-button" id="pagination_next" (click)="sendNextPage()">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="slide-2" *ngIf="view_analytics">
                        <!-- Analytics part with graphs -->
                        <div *ngIf="searched">
                            <div class="graphs-grid-container">
                                <div class="graphs-grid-item">
                                    <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="linechartOptions" [legend]="true"></canvas>
                                </div>
                                <div class="graphs-grid-item">
                                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [chartType]="doughnutChartType"></canvas>
                                </div>
                                <div class="graphs-grid-item">
                                    <canvas height="180px" baseChart [datasets]="petitionerChartData" [labels]="petitionerChartLabels" [options]="petitionerChartOptions" [legend]="petitionerChartLegend" [chartType]="petitionerChartType"></canvas>
                                </div>
                                <div class="graphs-grid-item">
                                    <canvas height="180px" baseChart [datasets]="respondentChartData" [labels]="respondentChartLabels" [options]="respondentChartOptions" [legend]="respondentChartLegend" [chartType]="respondentChartType"></canvas>
                                </div>
                                <div class="graphs-grid-item">
                                    <highcharts-chart [Highcharts]="Highcharts" [options]="pvbChartOptions">
                                    </highcharts-chart>
                                </div>
                                <div class="graphs-grid-item">
                                    <highcharts-chart [Highcharts]="Highcharts" [options]="rvbChartOptions">
                                    </highcharts-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="slide-3" *ngIf="view_citations">
                        <div *ngIf="searched" style="display: flex;">
                            <div class="tables-grid-container">
                                <div class="tables-grid-item">
                                    <div>
                                        <h2 style="text-align: center;">Most Cited Laws</h2>
                                        <table class="table" id="table-cited-provisions" style="table-layout:fixed">
                                            <thead>
                                                <tr>
                                                    <th>Act Name</th>
                                                    <th>Occurence</th>
                                                    <th style=" width:180px;">Section Name</th>
                                                    <th style=" width:180px;">Occurence</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let provision of CitedProvisions; index as i">
                                                    <tr>
                                                        <td rowspan="6" style="font-size: larger; font-weight: bolder; width:250px;">
                                                            {{provision.act_name}}</td>
                                                        <td rowspan="6" style="font-size: larger; font-weight: bolder;">
                                                            {{provision.act_sums}}</td>
                                                    </tr>
                                                    <tr *ngFor="let section of provision.sections; index as i">
                                                        <td>{{section}}</td>
                                                        <td>{{provision.section_sums[i]}}</td>
                                                    </tr>

                                                </ng-container>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tables-grid-item" style="display: flexbox;">
                                    <div>
                                        <h2 style="text-align: center;">Most Cited Cases</h2>
                                        <table class="table" id="table-cited-cases" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col" style="width: 250px;">Cited Case</th>
                                                    <th scope=" col ">Times Cited</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of cited_cases; index as i ">
                                                    <th scope="row ">{{ i + 1 }}</th>
                                                    <td style="width: 250px; ">{{ item.group }}</td>
                                                    <td id=" values ">{{ item.value | number }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div *ngIf="loading " class="loading_animation " style="display: flex ">
        <div class="loadingio-spinner-ripple-0klw6wjchhb ">
            <div class="ldio-9faui0bm4nl ">
                <div></div>
                <div></div>
            </div>
        </div>
        <style type="text/css ">
            @keyframes ldio-9faui0bm4nl {
                0% {
                    top: 104.16px;
                    left: 104.16px;
                    width: 0;
                    height: 0;
                    opacity: 1;
                }
                100% {
                    top: 19.53px;
                    left: 19.53px;
                    width: 169.26px;
                    height: 169.26px;
                    opacity: 0;
                }
            }
            
            .ldio-9faui0bm4nl div {
                position: absolute;
                border-width: 4.34px;
                border-style: solid;
                opacity: 1;
                border-radius: 50%;
                animation: ldio-9faui0bm4nl 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            }
            
            .ldio-9faui0bm4nl div:nth-child(1) {
                border-color: #93dbe9;
            }
            
            .ldio-9faui0bm4nl div:nth-child(2) {
                border-color: #689cc5;
                animation-delay: -0.5s;
            }
            
            .loadingio-spinner-ripple-0klw6wjchhb {
                width: 217px;
                height: 217px;
                display: block;
                overflow: hidden;
                background: rgba(255, 255, 255, 0);
            }
            
            .ldio-9faui0bm4nl {
                width: 100%;
                height: 100%;
                position: fixed;
                transform: translateZ(0) scale(1);
                backface-visibility: hidden;
                transform-origin: 0 0;
                right: 0;
                position: fixed;
                /* or absolute */
                top: 38%;
                left: 43%;
                margin: auto;
                /* see note above */
            }
            
            .ldio-9faui0bm4nl div {
                box-sizing: content-box;
            }
            /* generated by https://loading.io/ */
        </style>
    </div>
</body>