/* color {
    #080f19
    #19212F
    #7397A5
    #647B88
    #597C94
} */

@font-face {
  font-family: PopLight;
  src: url("../../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopRegular;
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PopMedium;
  src: url("../../assets/fonts/Poppins-Medium.ttf");
}

.table {
  display: grid;
  grid-template-columns: 30% 70%;
  font-family: PopLight;
  margin: 50px 100px;
}

#left-col {
  padding: 5px;
  min-height: 80vh;
}

#right-col {
  padding: 0 50px;
  min-height: 80vh;
}

.menu-tab {
  padding: 1px 30px;
  margin: 10px 0px;
  text-align: right;
  cursor: pointer;
  border-right: 6px solid rgb(255, 255, 255);
}

.active {
  border-right: 6px solid #7397a5;
}

#profile-pic {
  width: 96px;
  height: 96px;
}

.form-input-1 input {
  outline: none;
  border: none;
  padding: 15px;
  border-bottom: 1px solid #222 !important;
}
